* {
    margin: 0;
    padding: 0;
}

table {
    color: red;
}

td {
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}


